.thaifont {
    font-family: 'Mitr', sans-serif !important
}
.thaifont .head {
    font-size:3vw;
  
}
.thaifont .sub {
    color: #d3d3d3;
    font-size:1vw;
}

.Headimg{
    -webkit-clip-path: polygon(58% 0, 73% 15%, 100% 23%, 100% 62%, 92% 90%, 48% 90%, 0 99%, 0 0);
    clip-path: polygon(58% 0, 73% 15%, 100% 23%, 100% 62%, 92% 90%, 48% 90%, 0 99%, 0 0);
}